<launch>

  <!-- When false, costmap and laser_scan_to_point_cloud use raw /front/scan. -->
  <arg name="enable_lidar_filter" default="true" />
  <arg name="laser_scan_topic" value="front/scan_filtered" if="$(arg enable_lidar_filter)" />
  <arg name="laser_scan_topic" value="front/scan" unless="$(arg enable_lidar_filter)" />

  <!-- <param name="global_plan_topic" value="/move_base/HybridAStarPlanner/plan" /> -->

    <!-- <include file="$(find obstacle_detector)/launch/jackal_obstacle_tracking.launch">
        <arg name="rviz" value="false"/>
        <arg name="tracker_bridge" value="false"/>
    </include> -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find obstacle_detector)/resources/jackal_obs_tracker.rviz"/> -->

    <!-- Start the navigation stack -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <rosparam file="$(find teamrobo2026)/configs/params/costmap_common_params.yaml"
            command="load" ns="global_costmap" />
        <rosparam file="$(find teamrobo2026)/configs/params/costmap_common_params.yaml"
            command="load" ns="local_costmap" />
        <param name="global_costmap/obstacles_layer/scan/topic" value="$(arg laser_scan_topic)" />
        <param name="local_costmap/obstacles_layer/scan/topic" value="$(arg laser_scan_topic)" />

        <rosparam
            file="$(find teamrobo2026)/configs/params/odom_nav_params/global_costmap_params.yaml"
            command="load" />
        <rosparam
            file="$(find teamrobo2026)/configs/params/odom_nav_params/local_costmap_params.yaml"
            command="load" />

        <rosparam file="$(find teamrobo2026)/configs/params/move_base_params.yaml" command="load" />
        <rosparam file="$(find teamrobo2026)/configs/mpc_local_planner_params.yaml"
            command="load" ns="MpcLocalPlannerROS" />

        <!-- <param name="base_global_planner" type="string" value="hybrid_astar_planner/HybridAStarPlanner" /> -->
        <!-- <param name="base_global_planner" type="string" value="carrot_planner/CarrotPlanner" /> -->
        <param name="base_global_planner" type="string" value="navfn/NavfnROS" />


        <param name="base_local_planner" value="teamrobo2026/MpcLocalPlannerROS" />
        <param name="NavfnROS/default_tolerance" value="0.1" />
        <remap from="odom" to="odometry/filtered" />
    </node>
    <rosparam file="$(find teamrobo2026)/configs/teamrobo2026_mpc_params.yaml" command="load" />
    <group if="$(arg enable_lidar_filter)">
        <node pkg="teamrobo2026" type="lidar_filter_node" name="lidar_filter" output="screen" />
    </group>
    <node pkg="teamrobo2026" type="laser_scan_to_point_cloud_node" name="laser_scan_to_point_cloud" output="screen">
        <param name="scan_topic" value="/$(arg laser_scan_topic)" />
        <param name="laser_frame" value="front_laser" />
    </node>
    <node pkg="teamrobo2026" type="occupancy_to_cloud_node" name="map_to_cloud" output="screen"></node>
</launch>
